.container__colaborador{
    width: 220px;
    margin-bottom: 24px;
    box-sizing: border-box;
    position: relative;
    transition: 400ms;
}

.container__colaborador:hover{
    transform: scale(1.1);
}

.container__colaborador .encabezado{
    background: #57C278;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.eliminar__btn{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 25px;
    color: #ffffff;
    opacity: .6;
}

.container__colaborador img{
    width: 140px;
    border-radius: 50%;
    position: relative;
    bottom: -30%;
}

.container__colaborador .info{
    background: #ffffff; 
    padding: 80px 0 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
}

.container__colaborador .info h4{
   color: #6278f7;
   font-size: 18px;
   line-height: 22px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 8px; 
}

.container__colaborador .info p{
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
}

.like__btn{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    transition: 200ms;
}

.like__btn:active{
    transform: scale(1.5);
}