.container__formulario{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.formulario{
    max-width: 80%;
    background: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
    padding: 8px 50px;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Prata', serif;
    color: #212121;
}

